<h2>SIGN UP</h2>
<form method="POST" action="/urls/register">
<label>Email</label>
<input type="text" name="email"/>
<label>Password</label>
<input type="password" name="password"/>
<input type="submit" value="login"/>
</form>